.new-tweet {
  display: flex;
  width: 100%;
  justify-content: center;
  max-width: 537.95px;
  /*To keep form consistent with article */
}

#tweet-text {
  resize: none;
  border: 0;
  border-bottom: 2px solid black;
  background-color: inherit;
  width: 100%;
  font-size: 1.5em;
  font-weight: 600;
  height: 40px;
}

#tweet-form {
  width: 100%;
}

#tweet-text:focus {
  outline: none !important;
}

#tweet-text::placeholder {
  font-weight: 600;
}


.footer {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
  margin-right: 0.5em;
  font-family: 'Bungee', cursive;
}

#tweetBtn {
  color: #FFFFFF;
  background-color: #4056A1;
  padding: 5px 10px 5px 10px;
  border: none;
  box-shadow: 3px 4px 5px #6a83b9;
}

#tweetBtn:hover {
  background-color: #7e7ecc;
}

.error {
  color: #ff0000;
  font-family: 'Bungee', cursive;
  font-size: 1.4em;
  margin-bottom: 1em;
  letter-spacing: 1px;
}

@media only screen and (max-width: 1023px) {
  .new-tweet {
    max-width: 537.95px;
    /*To keep form consistent with article */
    width: 100%;
    padding: 0 2em;
  }
}